In this lesson you will work with classic iris dataset. This dataset includes various measurements of a flower's anatomy and the specific species of the flower. For that dataset,  ùë¶ would be the flower species while  ùë•1 through  ùë•ùëõ would be the various measurements for a given flower

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

iris = datasets.load_iris()

X = pd.DataFrame(iris.data)
X.columns = iris.feature_names

y = pd.DataFrame(iris.target)
y.columns = ['Target']

df = pd.concat([X, y], axis=1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
len(df)

150

In [2]:
df['Target'].value_counts()

Target
0    50
1    50
2    50
Name: count, dtype: int64

In [3]:
aggs = df.groupby('Target').agg(['mean', 'std'])
aggs

       sepal length (cm)           sepal width (cm)            \
                    mean       std             mean       std
Target
0                  5.006  0.352490            3.428  0.379064
1                  5.936  0.516171            2.770  0.313798
2                  6.588  0.635880            2.974  0.322497

       petal length (cm)           petal width (cm)
                    mean       std             mean       std
Target
0                  1.462  0.173664            0.246  0.105386
1                  4.260  0.469911            1.326  0.197753
2                  5.552  0.551895            2.026  0.274650

## Calculate conditional probability point estimates

In [4]:
from scipy import stats

def p_x_given_class(obs_row, feature, class_):
    mu = aggs[feature]['mean'][class_]
    std = aggs[feature]['std'][class_]
    
    # A single observation
    obs = df.iloc[obs_row][feature] 
    
    p_x_given_y = stats.norm.pdf(obs, loc=mu, scale=std)
    return p_x_given_y

# Notice how this is not a true probability; you can get values > 1
p_x_given_class(0, 'petal length (cm)', 0)

2.1553774365786813

## Multinomial Bayes

In [5]:
row = 100
c_probs = []
for c in range(3):
    # Initialize probability to relative probability of class 
    p = len(df[df['Target'] == c])/len(df) 
    for feature in X.columns:
        p *= p_x_given_class(row, feature, c) 
        # Update the probability using the point estimate for each feature
        c_probs.append(p)

c_probs

[0.0004469582872647601,
 0.0004443285586702692,
 5.436807559640814e-152,
 9.529514999027503e-251,
 0.20091323410933296,
 0.06135077392562653,
 5.488088968636931e-05,
 2.4601490099164823e-12,
 0.1887425821931874,
 0.1400761027216959,
 0.07283357796352255,
 0.02386104253740266]

## Calculating class probabilities for observations

In [7]:
def predict_class(row):
    c_probs = []
    for c in range(3):
        # Initialize probability to relative probability of class
        p = len(df[df['Target'] == c])/len(df) 
        for feature in X.columns:
            p *= p_x_given_class(row, feature, c)
        c_probs.append(p)
    return np.argmax(c_probs)

In [8]:
row = 0
df.iloc[row]

sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.2
Target               0.0
Name: 0, dtype: float64

In [9]:
predict_class(row)

0

## Calculating accuracy

In order to determine the overall accuracy of your newly minted Gaussian Naive Bayes classifier, you'll need to generate predictions for all of the rows in the dataset. From there, you can then compare these predictions to the actual class values stored in the 'Target' column. Take a look:

In [10]:
df['Predictions'] =  [predict_class(row) for row in df.index]
df['Correct?'] = df['Target'] == df['Predictions']
df['Correct?'].value_counts(normalize=True)

Correct?
True     0.96
False    0.04
Name: proportion, dtype: float64